body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8b8b8b;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
}